#secaoPrincipal{
    width: 100%;
    margin: 50px auto 20px auto; 
    max-width: 1200px;
    background-color: rgba(82,121,111,0.3);
}

.containerTextoInformacao > p{    
    text-align: justify;
    font-size: 1.6em;
}

.containerPadrao{
    width: 100%;
    height: 100%;
}

.imagemPadrao{
    width: 100%;
    height: 100%;
    text-align: center;
}

.inputPadrao,
.selectPadrao{
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    background-color: rgba(211, 211, 211, 0.3);
    border: 2px solid #2F3E46;
    font-size: 1.2em;
}

.inputPadrao:hover,
.selectPadrao:hover{
    color: #DC143C;
    background-color: rgba(211, 211, 211, 0.9);
}

.corPadrao1{
    color: #CAD2C5;
}

.corPadrao2{
    color: #84A98C;
}

.corPadrao3{
    color: #52796F;
}

.corPadrao5{
    color: #2F3E46;
}

.corVermelha{
    color: #DC143C;
}

.corPreta{
    color: #222D33;
}

.backgroundCor1{
    background-color: #CAD2C5;
}

.backgroundCor2{
    background-color: #84A98C;
}

.backgroundCor4{
    background-color:  #354F52;
}

.linkLimpo{    
    text-decoration: none;
}
