#secaoPrincipal {
    padding: 50px;   
}

#secaoPrincipal > h1{
    font-size: 2.2em;
    text-align: center;
    font-weight: 900;
}

.containerConteudoHome{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerImagemNutricao {
    width: 400px;
    height: 390px;
    border: 3px solid #84A98C;
}

.containerNutricao>p {
    margin-top: 20px;
    font-size: 1em;
    text-align: center;
    color: #FFFAF0;
}

.ContainerTextoNutricao {
    width: 430px;
}

.ContainerTextoNutricao>p {
    margin-top: 15px;
    font-size: 1.5em;
}

.cotainerImagemTextoNutricao{
    width: 310px;
    height: 220px;
    margin: 50px auto 0px auto;
}

.cotainerImagemTextoNutricao > p{
    font-size: 1.1em;
    text-align: center;
}

.containerImagemPropaganda{    
    width: 300px;
    height: 210px;
}