@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-image: url("../assets/backgroundPet.png");
}

#root{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;  
  background-size: 200px;
  font-family: 'Cormorant Garamond', serif;
}