#menuPrincipal {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.containerNav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerNavInterno {
    width: 92%;
    height: 100%;    
}

.containerGeralLogo {   
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.linkRouter{
    cursor: pointer;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.containerLogo{
    width: 50px;
    margin-right: 10px;
}

.nomeLogo{
    font-size: 1.8em;
}

.setaEsquerda {
    padding-right: 10px;
}

.setaDireita {
    padding-left: 10px;
}

.containerSeta {
    width: 90px;
    height: 100%;
}

.containerMenu{
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botaoProduto{
    width: 100px;    
}

.botaoCadastro{
    width: 80px;    
}

.botaoLogOff{
    width: 80px;
}

.containerBarraResponsiva{
    display: none;
    width: 80px;    
    font-size: 25px;   
}

.buttonFecharNR{    
    color: #C21135;
}

.padraoBotao{   
    height: 50px; 
    padding: 10px;    
    border: 2px solid #CAD2C5;
    border-radius: 20px;
    cursor: pointer;
}

.marginPadraoBotao{
    margin-right: 20px;
}

@media screen and (max-width:880px){
    .nomeLogo{
        display: none;
    }
    
    .botaoProduto{
        display: none;   
    }
    
    .botaoCadastro{
        display: none;      
    }
    
    .botaoLogOff{
        display: none;  
    }
    .containerBarraResponsiva{
        display: block;
    }
}

