.containerTextoProdutos {
    margin-top: 20px;
}

.containerConteudoProduto {
    width: 900px;
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.containerProduto {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.containerProdutoFim {
    justify-content: flex-end;
}

.containerPadraoTopo {
    margin-top: 0;
}

.containerSecundarioProduto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.labelInformacaoProduto {
    width: 110px;
    font-size: 1.8em;
}

.inputNomeProduto {
    width: 610px;
    margin-right: 10px;
}

.labelIdadeProduto {
    width: 70px;
}

.inputIdadeProduto {
    width: 70px
}

.selectTamanhoProduto {
    width: 150px;
    margin-right: 10px;
}

.labelRaçaProduto {
    width: 170px;
}

.inputRacaProduto {
    width: 440px;
}

.selectExtrasProduto {
    width: 450px;
    margin-right: 10px;
}

.labelQuantidadeProduto {
    width: 190px;
}

.inputQuantidadeProduto {
    width: 120px;
}

.containerCorpoProdutos {
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.containerBotaoProduto {
    width: 400px;
    height: 60px;
    margin: 30px auto 0 auto;

}

.containerBotoesProduto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.padraoBotaoProduto {
    cursor: pointer;
    border: 3px solid;
    border-radius: 20px;
    font-size: 1.3em;
}

.corBordaBotaoEnviar {
    border-color: #DC143C;
}

@media screen and (max-width:950px) {
    .containerTextoInformacao {
        margin: 20px 40px 0 40px;
    }

    .containerTextoInformacao>p {
        font-size: 1.3em;
    }

    .containerConteudoProduto {
        width: 700px;
    }

    .inputNomeProduto {
        width: 410px;
    }

    .inputRacaProduto {
        width: 220px;
    }

    .selectExtrasProduto {
        width: 200px;
    }
}

@media screen and (max-width:750px) {
    .containerConteudoProduto{
        width: 100%;
        justify-content: center;
    }
    
    .containerSecundarioProduto {
        flex-direction: column;
    }

    .containerProdutoFim{
        justify-content: flex-start;
    }

    .inputGeralProduto,
    .selectGeralProduto{
        width: 90%;
        margin-right: 0;
    }

    .labelInformacaoProduto{
        width: 280px;
        font-size: 1.6em;
    }
}